# 바이낸스 API
BINANCE_API_KEY=your_api_key
BINANCE_SECRET_KEY=your_secret_key

# [변경] 디스코드 봇 설정
DISCORD_BOT_TOKEN=MTEy... (여기에 토큰 입력)
DISCORD_ADMIN_ID=1234567890 (여기에 본인 ID 숫자 입력)

# 모드 설정
TRADING_MODE_TESTNET=True